<!DOCTYPE html>
<html lang="en">

<head>

  <title>ZenMindConnect | Crear un blog </title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="icon" href="../static/IMG/logo_final.png">
  <link rel="stylesheet" href="../../static/CSS/style_blog.css">
  <link rel="stylesheet" href="cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style>
    body {
      font-family: "Lato", sans-serif
    }

    .mySlides {
      display: none
    }
  </style>
</head>

<body>

  <!-- ::::: MENU ::::: -->
  <div class="header">
    <nav class="navbar navbar-expand-lg navbar-light color-barra">
      <!-- Logo menu -->
      <div>
        <a class="navbar-brand" href="">
          <img class="logo_final" src="../static/IMG/logo_final.png" alt="Logo de ZenMindConnect">
        </a>
      </div>
      <!-- Agregar "Calmind" -->
      <span class="calmind-text" style="color: white; font-family: 'Roboto', cursive; font-size: 36px;">ZenMindConnect</span>
      <!-- Botón de hamburguesa -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Opciones menu -->
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navg navbar-nav w-100 justify-center-center">
          <a class="nav-item nav-link active" href="{% url 'index' %}">
            Inicio <i class="fa fa-home" aria-hidden="true"></i>
          </a>
          <a class="nav-item nav-link" href="{% url 'nos' %}">
            Nosotros <i class="fa fa-users" aria-hidden="true"></i>
          </a>
          <a class="nav-item nav-link" href="{% url 'frontpage' %}">
            Blog <i class="fa fa-clipboard" aria-hidden="true"></i>
          </a>
          <a class="nav-item nav-link" href="{% url 'autenticar_persona' %}">
            Reservar una cita <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
          </a>
          {% if user.is_authenticated %}
          <li class="dropdown">
            <a class="nav-item nav-link dropdown-toggle" data-toggle="dropdown" href="#">
              {{ user.username }} <i class="fa fa-user-circle" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="nav-item nav-link" href="{% url 'logout' %}">
                  Cerrar sesión <i class="fa fa-user-times" aria-hidden="true"></i>
                </a>
              </li>
              <li><a class="nav-item nav-link" href="{% url 'form_mod_persona' %}">Editar perfil <i class="fa fa-pencil-square" aria-hidden="true"></i></a></li>
            </ul>
          </li>
          {% if user.is_superuser %}
          <li class="dropdown">
            <a class="nav-item nav-link dropdown-toggle" data-toggle="dropdown" href="#">
              Administrar <i class="fa fa-cogs" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="nav-item nav-link" href="{% url 'adm' %}">
                  Mantenedor de clientes <i class="fa fa-users" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </li>
          {% endif %}
          {% else %}
          <a class="nav-item nav-link" href="{% url 'log' %}">Iniciar sesión</a>
          <a class="nav-item nav-link" href="{% url 'form_persona' %}">Registrarse</a>
          {% endif %}
        </div>
      </div>
    </nav>

    

    <!-- ::::: FIN MENU ::::: -->



    <script>
      $(function () {
        $("formulario").validate({
          rules: {
            tituloHilo: "required",
            slug: "required",
            intro: "required",
            body: "required",
            hilo: "required",
          },
          messages:
          {
            title: {
              required: 'Ingrese un titulo de BLOG',
            },
            slug: {
              required: 'Agregue un hashtag',
            },
            intro: {
              required: 'Ingrese una breve introducción',
            },
            body_: {
              required: 'Escriba en su blog',
            },
            hilo: {
              required: 'Seleccione su hilo',
            },
          }//messages
        }); //$('#formulario').validate
      }); //function
    </script>

    <section>
      <center>
        <h1>Crea un blog! <i class="fa fa-clipboard" aria-hidden="true"></i></h1>
      </center>
      <div id="sep">
      </div>
    </section>




  <div class="card-container card card-body" style="font-size: large;">
    <div class="container">
      <div class="row">
        <h2>Bienvenidos</h2>
      </div>
      <br>


      <div class="row">
        <div class="row">
          <form method="POST" action="#" id="formulario">
            {%csrf_token%}
            <div class="form-group">
              <i class="fa fa-clipboard" aria-hidden="true"></i>
              {{post_form.title.label}}
              {{post_form.title}}
            </div>
            <div class="form-group">
              <i class="fa fa-tag" aria-hidden="true"></i>
              {{post_form.slug.label}}
              {{post_form.slug}}
            </div>
            <div class="form-group">
              <i class="fa fa-indent" aria-hidden="true"></i>
              {{post_form.intro.label}}
              {{post_form.intro}}
            </div>
            <div class="form-group">
              <i class="fa fa-align-justify" aria-hidden="true"></i>
              {{post_form.body.label}}
              {{post_form.body}}
            </div>
            <div class="form-group">
              <i class="fa fa-heart" aria-hidden="true"></i>
              {{post_form.hilo.label}}
              {{post_form.hilo}}
            </div>
            <div class="form-group">
              <label for="agree"><input type="checkbox" name="legal" value="agree" id="agree" required /> Acepto
                velar por el respeto común!</label>
              <input type="submit" class="btn btn-success" id="enviar" value="Publicar ✉️">
              <input type="reset" class="btn btn-warning" id="limpiar" value="Limpiar campos🚿">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  </div>



  
  <script src="../static/JS/main.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>








  

  <!--::::Pie de Pagina::::::-->
  <footer class="pie-pagina">
    <div class="grupo-1">
      <div class="box">
        <figure>
          <a href="#">
            <img src="../../static/IMG/logo_final.png" alt="Logo de ZenMindConnect">
          </a>
        </figure>
      </div>
      <div class="box">
        <h2>Integrantes</h2>
        <p>Nicolas Parra</p>
        <p>Alexis Peña</p>
      </div>
      <div class="box">
        <h2>SIGUENOS EN REDES SOCIALES</h2>
        <div class="red-social">
          <a target="_blank" href="https://www.facebook.com/profile.php?id=100081188664230" class="fa fa-facebook"></a>
          <a target="_blank" href="https://www.instagram.com/calmind_psicol/" class="fa fa-instagram"></a>
          <a target="_blank" href="https://twitter.com/Calmind_psico" class="fa fa-twitter"></a></a>
          <a target="_blank" href="https://www.youtube.com/channel/UCReRVATCJYfHPiw00Be-2ug" class="fa fa-youtube"></a>
        </div>
        <h2>Contacto</h2>
        <h2>ZenMindConnect.scrum@hotmail.com <i class="fa fa-envelope" aria-hidden="true"></i></h2>
        <h2>777-666-5555 <i class="fa fa-phone-square" aria-hidden="true"></i></h2>
      </div>
    </div>
    <div class="grupo-2">
      <small>&copy; 2023 <b>Desarrollado por TeamZenMindConnect</b> - @Copyrigth|Todos los Derechos Reservados.</small>
    </div>
  </footer>

  <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="../static/JS/main.js"></script>








</body>

</html>